/* Общие */

$color-danger: #FF0000;
$color-error : #ff5c5c;

$color-controls: #5c6870;
$color-controls-hvr: #333333;
$color-controls-down: #c1c1c1;

$bg-color: #81b3d2;
$bg-color-hvr: #669ec0;
$bg-color-down: #5496bd;
$bg-color-disable: #7aadcb;
$bg-color-mobile-control-btn: #f2f2f2;
$bg-color-control-btn: rgba(0, 0, 0, 0.6);

$border-color: #dbdbdb;

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1200px;
$width-right-bar: 17px;

$media-mobile: (min-width: $width-mobile);
$media-tablet: (min-width: $width-tablet);
$media-desktop: (min-width: $width-desktop);

$media-only-mobile: (max-width: $width-tablet - 1);

/* Шрифты */

$font-bold: 'PTSans Bold', sans-serif;
$font-regular: 'PTSans Regular', sans-serif;

$font-color-bold: #000;
$font-color-regular: #333;
$font-color-down: #88b6d1;

$font-size-bold: 18px;
$font-size-bold-tablet: 21px;
$font-size-regular: 14px;
$font-size-interest : 21px;
$font-line-height: 1.444;

$img-reason-height: 260px;

/* Моб. меню */

$mob-menu-color-border-top: #9ac2db;
$mob-menu-color-border-bottom: #678fa8;
$mob-menu-color-shadow-start: #9ac2db;
$mob-menu-color-shadow-end: #6c96b0;

/* Меню */

$menu-color-font-down: #b2b2b2;
$menu-color-font-active: #766357;
$menu-color-font-active-down: #d6d0cc;

/* Форма */

$input-bg: #f2f2f2;
$input-bg-hvr: #e5e5e5;
$input-bg-active: #fff;
$input-bg-ico: #e6e6e6;
$input-color-active-border: #e5e5e5;

$radio-color: #333333;
$radio-color-down: #a4a4a4;
$radio-color-bg-hvr: #e5e5e5;
$radio-color-bg-down: #d5d5d5;

$padding-mobile: 0 20px;
$padding-mobile-lr: 20px;
$padding-mobile-form-lr: 20px;
$padding-tablet-lr: 60px;
