@font-face {
  font-family : 'PTSans Regular';
  src         : url('../fonts/ptsans.woff2') format('woff2'),
                url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family : 'PTSans Bold';
  src         : url('../fonts/ptsansbold.woff2') format('woff2'),
                url('../fonts/ptsansbold.woff') format('woff');
}
